<%- include("../partials/head"); %>
<main class="admin-main">
  <a href="/admin-article" class="button">Article</a>
  <a href="/admin-contact" class="button">Contact</a>
</main>

<%- include("../partials/foot"); %>
