<%- include("./partials/head"); %>
<main>
  <img class="error-picture-404" src="/assets/images/404.webp" />
  <style>
    .error-picture-404 {
      width: 100%;
    }
  </style>
</main>

<%- include("./partials/foot"); %>
