<%- include("./partials/head"); %>

<main>
  <section class="about">
    <h1>Qui sommes-nous ?</h1>
    <div class="content-block">
      <img src="/assets/images/jjpepper1.webp" alt="Jean et Jacques Pepper" />
      <p>
        Jean et Jacques Pepper, deux frères passionnés par le café, sont les
        fondateurs de notre boutique. Avec une expertise approfondie et un amour
        profond pour cette délicieuse boisson, ils ont créé un espace où le café
        est célébré comme une expérience raffinée et inspirante.
      </p>
    </div>
  </section>

  <section class="ambiance">
    <h1>Ambiance de la boutique</h1>
    <div class="content-block">
      <p>
        Bienvenue dans notre boutique, où règne une ambiance chaleureuse et
        accueillante qui éveille tous vos sens. Dès que vous franchissez la
        porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de
        café fraîchement moulu.
      </p>
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
    <div class="content-block">
      <img
        src="/assets/images/etablissement.webp"
        alt="Ambiance de la boutique"
      />
      <p>
        L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières
        tamisées qui créent des jeux d'ombres et de lumières apaisants. Les murs
        sont ornés d'éléments rustiques, de panneaux en bois et de photographies
        captivantes de plantations de café, évoquant l'origine de ces délices
        aromatiques.
      </p>
    </div>
    <p>
      Les étagères en bois exposent fièrement une variété de grains de café
      provenant des quatre coins du monde, chacun racontant une histoire unique
      de terroir et de culture. Les sacs de café empilés dévoilent une palette
      de couleurs allant des tons chocolat aux nuances ambrées, invitant à
      l'exploration sensorielle.
    </p>
    <div class="content-block">
      <p>
        Le cliquetis des tasses et des cuillères résonne joyeusement dans l'air
        et le son réconfortant des machines à expresso en action crée une
        symphonie orchestrée avec soin, soulignant l'expertise et l'art qui se
        cachent derrière chaque tasse de café servie.
      </p>
      <img
        src="/assets/images/cafe-infuse.webp"
        alt="Café fraîchement infusé"
      />
    </div>
    <p>
      Les coins douillets sont parsemés de fauteuils confortables et de canapés
      moelleux, invitant nos clients à s'installer et à se perdre dans un bon
      livre, ou simplement à profiter d'une conversation entre amis. L'odeur
      enivrante du café fraîchement infusé flotte dans l'air, créant une
      ambiance propice à la détente et à la contemplation.
    </p>
    <p>
      Le personnel attentionné et passionné est toujours prêt à partager ses
      connaissances et ses recommandations, créant un lien chaleureux entre les
      amateurs de café et les artisans qui le préparent avec soin. Chaque visite
      est une expérience personnelle, où le client est accueilli comme un ami de
      longue date.
    </p>
    <p>
      Dans notre détaillant de café, l'ambiance chaleureuse vous invite à
      ralentir le rythme trépidant de la vie quotidienne et à savourer l'instant
      présent. Que vous soyez un connaisseur de café ou un novice curieux, nous
      sommes là pour vous guider dans un voyage sensoriel inoubliable, où chaque
      gorgée révèle un monde de saveurs riches et complexes.
    </p>
  </section>

  <section class="expertise">
    <h1>Notre savoir-faire</h1>
    <div class="content-block">
      <p>
        Jean et Jacques Pepper, deux frères passionnés par l'univers du café,
        ont toujours rêvé de créer leur propre boutique de café haut de gamme.
        L'occasion de concrétiser ce rêve est arrivée lors d'un voyage
        inoubliable en Colombie, un pays célèbre pour ses plantations de café
        renommées dans le monde entier.
      </p>
      <img
        src="/assets/images/jjpepper2.webp"
        alt="Jean et Jacques Pepper en Colombie"
      />
    </div>
    <p>
      Pendant leur séjour en Colombie, Jean et Jacques ont eu la chance de
      visiter une plantation de café pittoresque, nichée au cœur des montagnes
      verdoyantes. Ils ont été immédiatement captivés par l'atmosphère
      envoûtante et l'engagement des agriculteurs locaux à cultiver les
      meilleurs grains de café.
    </p>
    <div class="content-block">
      <img
        src="/assets/images/producteurs-cafe.webp"
        alt="Producteurs de café"
      />
      <p>
        Au cours de cette visite, ils ont eu l'occasion de rencontrer des
        producteurs de café passionnés qui leur ont partagé leurs connaissances
        et leur amour pour le processus de culture, de récolte et de
        transformation du café. Jean et Jacques ont été fascinés par l'attention
        méticuleuse portée à chaque étape de la production, ainsi que par la
        diversité des saveurs et des arômes uniques que les différents terroirs
        colombiens offraient.
      </p>
    </div>
    <p>
      C'est à ce moment-là que l'étincelle de l'inspiration a embrasé leur
      esprit. Ils ont réalisé qu'ils voulaient partager cette passion pour le
      café de qualité avec le reste du monde. Leur vision était de créer un lieu
      où les amateurs de café pourraient découvrir et déguster des variétés de
      café exceptionnelles, tout en apprenant sur leur origine et leur processus
      de production.
    </p>
    <p>
      De retour chez eux, Jean et Jacques ont mis en pratique leurs idées et ont
      commencé à planifier l'ouverture de leur boutique de café. Ils ont
      parcouru les fournisseurs, sélectionné avec soin les meilleurs grains de
      café issus de plantations durables et équitables, et ont créé un espace
      accueillant et chaleureux pour accueillir les amateurs de café.
    </p>
    <p>
      Leur boutique de café était bien plus qu'un simple commerce. C'était un
      lieu où les clients pouvaient vivre une expérience sensorielle unique, en
      explorant les différentes origines, torréfactions et méthodes d'infusion.
      Jean et Jacques se sont également engagés à soutenir les communautés de
      producteurs de café en travaillant directement avec eux et en veillant à
      ce que chaque tasse de café servie contribue à un commerce équitable et
      durable.
    </p>
    <p>
      Aujourd'hui, la boutique de café des frères Pepper est devenue une
      référence pour les amateurs de café de la région. Leur passion, leur
      connaissance approfondie et leur engagement envers la qualité se reflètent
      dans chaque tasse servie. Jean et Jacques sont fiers d'avoir transformé
      leur voyage en Colombie en une aventure entrepreneuriale qui a permis à
      tant de personnes de découvrir et d'apprécier le véritable plaisir du
      café.
    </p>
  </section>
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      // Coordonnées de la position à viser
      const latitude = 43.60015869140625;
      const longitude = 1.447110891342163;

      // Initialiser la carte
      const map = L.map("map").setView([latitude, longitude], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      // Ajouter un marqueur à la position spécifiée
      L.marker([latitude, longitude])
        .addTo(map)
        .bindPopup("Boutique oCoffee")
        .openPopup();
    });
  </script>
</main>

<%- include("./partials/foot"); %>
